.env
node_modules/

{
  "name": "iPhone 15 Pro",
  "sku": "IPHONE15PRO",
  "description": "Latest Apple smartphone",
  "price": 12999,
  "category": "Electronics",
  "amountInStock": 25,
  "manufacturer": {
    "name": "Apple Inc.",
    "country": "USA",
    "website": "https://apple.com",
    "description": "Technology company",
    "address": "One Apple Park Way, Cupertino, CA",
    "contact": {
      "name": "Tim Cook",
      "email": "tim.cook@apple.com",
      "phone": "+1-408-996-1010"
    }
  }
  
}
